# Review of Python

This notebook will present a breif review of the following python topics

- Data Types
 - Numbers
 - Strings
 - Printing / formatting
 - Lists
 - Booleans 
 - Tuples
- Comparison Operators
- if, elif, else Statements
- for/while Loops
- range() and len()
- list comprehension
- functions
- lambda expressions
- map and filter
- methods

# Data Types
## Numbers

In python numbers can take on values of integers and floats. You can add, subtract, divide, or multiply two numbers numbers.

In [14]:
x = 1.0 + 1
type(x)

float

In [148]:
x = 1+1
type(x)

int

In [152]:
x = int(1.0) + 1
type(x)

int

In [15]:
2-1

1

In [16]:
1/2

0.5

In [17]:
2*2

4

You can rais a quantity to a power using 
> **

In [18]:
2**2

4

In [19]:
2**0.5

1.4142135623730951

the remander can be computed usnig the modulus operator
>%

In [20]:
4%2

0

In [21]:
4%8

4

python follows order of operation. Good practice to use '()' to ensure correct order

In [22]:
2 +2 *3 +5

13

In [23]:
(2+2) * (3+5)

32

## Variable Assignment

> variable = value

variable names can't start with a numer
multi name variables use an underscore to seperate the names

In [24]:
x = 2
y = 3
z = x + y

In [25]:
z

5

In [26]:
1z = 3

SyntaxError: invalid syntax (<ipython-input-26-7823a7d5195d>, line 1)

In [27]:
num_of_covid_cases = 0

## Strings

Strings can be represented using 
> '' or " " 

You can use double quotes to print single quotes

In [28]:
'hello'

'hello'

In [29]:
"hello"

'hello'

In [30]:
"I can't say hello"

"I can't say hello"

We can also index a string

In [31]:
name = 'Matt'

In [32]:
name[0]

'M'

and slice a sting using 
> string[ start : end ]

, where end is not included

In [33]:
name[0:]

'Matt'

In [34]:
name[:3]

'Mat'

In [35]:
name[1:3]

'at'

## Printing and Formatting

Two printout types in Jupyter notebook

In [36]:
#Jupyter notebook output
name

'Matt'

In [37]:
#python output
print(name)

Matt

The 'format()' can be used to fromat print statements.

In [38]:
first = 'Matt'
last = 'Posik'

print('I am {} of clan {}'.format(first,last))

I am Matt of clan Posik

The format method can be used to specify numer percision
- f is for floats
  -- YY.fXX, YY is number of digits, XX nubmer of decimals in the number
- d is for integers
  -- YYd, XX number of digits in the number

In [39]:
pi = 3.14159

In [40]:
print('pi is {}'.format(pi))

pi is 3.14159

In [41]:
print('pi is {0:.2f} to {1:d} decimal places'.format(pi,2))

pi is 3.14 to 2 decimal places

In [42]:
print('pi is {0:05.2f} to {1:02d} decimal places'.format(pi,2))

pi is 03.14 to 02 decimal places

# Lists
 A list is a sequence of events. \
 It can be
 - be numbers, string, or characters.
 - indexed or sliced
 - added to using the 'append' method
 - type function returns the type of variables and objects

In [43]:
my_list = [1,2,3,4]

In [44]:
my_list[1:3]

[2, 3]

In [45]:
my_list[0] = 2

In [46]:
my_list

[2, 2, 3, 4]

In [47]:
my_list.append(5)

In [48]:
my_list

[2, 2, 3, 4, 5]

In [49]:
type(my_list)

list

We can use 'in' to see if a quantity is in a list. If so then it returns True, otherwise False.

In [109]:
'x' in [1,2,3]

False

In [108]:
'x' in ['x','y','z']

True

# Boolean

Python had two booleans 'True' and 'False'

# Tuple
- sequence of elements
- can index and slice
- are **imutable** (can't be changed)

In [50]:
t = (1,2,3,4)

In [51]:
print(t)

(1, 2, 3, 4)

In [52]:
type(t)

tuple

In [53]:
t[1]

2

In [54]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

Unpacking a tuple:

# Comparison Operators

Compare two quantities and returns True or False boolean

In [55]:
1 == 2

False

In [56]:
1 > 2

False

In [57]:
1 < 2

True

In [58]:
1 != 2

True

# Logic Operators

In [59]:
(1 > 2) and (2 > 4) #reccomend using ()

False

In [60]:
True or False

True

In [61]:
True and True

True

In [62]:
True and False

False

In [63]:
False and False

False

In [64]:
False and True

False

# If Statements

In [65]:
x =4

#first elif statement is printed
if(x == 3):
    print('x = 3')
elif(x > 5):  
    print('x > 5')
elif(x > 3):
    print('x > 3')
else:
    print('x < 3')

x > 3

# For and While Loops

In [66]:
seq = [1,2,3,4,5]

In [67]:
for i in seq:
    print('i = {}'.format(i))

i = 1
i = 2
i = 3
i = 4
i = 5

In [68]:
i = 0
while i < 5:
    print('i = {}'.format(i))
    i = i + 1

i = 0
i = 1
i = 2
i = 3
i = 4

## range and len Methods
We can use the range method for our while loop. The range method is a generator the iterates between a start and a stop.
> range(0,5)

in the above example \
start = 0 \
stop < 5

In [69]:
type(range(0,5))

range

Range is a type range, we can make it a list

In [70]:
my_new_list = list(range(0,5))
print(my_new_list)

[0, 1, 2, 3, 4]

In [71]:
type(my_new_list)

list

In [72]:
#for j in range(0,5):
for j in range(5):
    print('j = {}'.format(j))

j = 0
j = 1
j = 2
j = 3
j = 4

The len method returns the length of a list
> len(my_list)

In [73]:
len(my_new_list)

5

# Unpacking Tuples

We can have a list of tuples

In [110]:
x = [(1,2),(3,4),(5,6)]

In [111]:
x[0]

(1, 2)

In [112]:
x[0][0]

1

In [113]:
x[0][1]

2

In [114]:
for pair in x:
    print(pair)

(1, 2)
(3, 4)
(5, 6)

In [115]:
for (a,b) in x:
    print(a,b)

1 2
3 4
5 6

In [119]:
for a, b in x:
    print(a,b)

1 2
3 4
5 6

# Functions

Functions are defined using 
> def my_func():

In [74]:
def my_func(name = 'Slim Shady'):
    ''' Takes a name as an argument and 
    prints it into a sentence'''
    print('Hi, my name is {}.'.format(name))

In [75]:
my_func(name = 'Matt')

Hi, my name is Matt.

In [76]:
my_func('Matt')

Hi, my name is Matt.

In [77]:
my_func()

Hi, my name is Slim Shady.

In [78]:
my_func #prints object

In [79]:
def square_num(num = 0):
    '''Takes a number and returns its square'''
    return num**2

In [80]:
square_num(3)

9

# Map Function

Maps a function to all elements of a sequence
> map(function, sequence)

In [81]:
seq = [1,2,3,4]
map_seq = map(square_num,seq)

In [82]:
type(map_seq)

map

In [83]:
#convert it to a list
print(list(map_seq))

[1, 4, 9, 16]

# Lambda Expression
Creates an anonymous function, which is typically one line.
> lambda input : output, sequence

> def square_num(num = 0):
      return num**2
      
> def square_num(num=0): reutrn num**2

> square_num(num): num**2

Use lambda expression in place of our function

In [84]:
lambda num: num**2, seq

(<function __main__.<lambda>(num)>, [1, 2, 3, 4])

map the labda exression to all elements of seq

In [85]:
map(lambda num: num**2, seq)

cast the map to a list

In [90]:
list(map(lambda num: num**2, seq))

[1, 4, 9, 16]

# Filter Function

Filters out elements from a sequence

In [91]:
lambda num: (num**2 % 2) == 0,seq

(<function __main__.<lambda>(num)>, [1, 2, 3, 4])

In [92]:
filter(lambda num: (num**2 % 2) == 0,seq)

In [94]:
list(filter(lambda num: (num**2 % 2) != 0,seq))

[1, 3]

# Methods

Methods are calls made off of objects

> s = 'a string'\
> s.a_string_method()

Pressing 'Tab' after an object in Jupyter notebook gives a list of available methods.

In [103]:
s = 'This is a string'
s.lower()

'this is a string'

In [104]:
s.upper()

'THIS IS A STRING'

In [105]:
email = 'posik@temple.edu'
print(email.split('@'))

['posik', 'temple.edu']

In [106]:
email_name = email.split('@')[0]
print(email_name)

posik